.btn1 {
  background-color: teal;
  color: goldenrod;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  outline-color: goldenrod;
  display: block;
}
.btn1:hover:hover {
  background: #cccedb;
  color: teal;
}
